version: '3.8'

services:

  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
    ports:
      - "${MINIO_PORT_ONE}:9000"
      - "${MINIO_PORT_TWO}:9001"
    command: server /data --console-address ":${MINIO_PORT_TWO}"
    volumes:
      - minio_data:/data
    
  minio_mc:
    image: minio/mc
    container_name: minio_mc
    depends_on:
    - minio
    entrypoint: /bin/sh -c
    command: |
      "while ! curl -s http://minio:9000;
      do sleep 10;
      done;
      mc alias set myminio http://minio:9000 ${MINIO_ACCESS_KEY} ${MINIO_SECRET_KEY};
      mc mb myminio/landing
      "
 
  postgres-airflow:
    image: postgres:15
    container_name: postgres-airflow
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  
  airflow:
    build:
      context: .
      dockerfile: airflow/config_airflow/airflow.Dockerfile
    container_name: airflow
    environment:
      AIRFLOW_CORE_SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_AF_USER}:${POSTGRES_AF_PASSWORD}@postgres-airflow:5432/airflow
      AIRFLOW_CORE_LOAD_EX: 'False'
      AIRFLOW_CORE_DAGS_ARE_PAUSED_AT_CREATION: 'True'
      AIRFLOW_CORE_LOGGING_LEVEL: INFO
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
    depends_on:
      - postgres-airflow
      - minio
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/config_airflow:/opt/airflow/config_airflow
    command: ["airflow", "standalone"]


volumes:
  postgres_data:
  minio_data:

